{% extends "mainapp/index.html" %}

{% block content %}
<div class="about-head">About me</div>
<div class="about-container">
    <div class="about-head-1">Self Introduction</div>
    <div class="about-data">
        Hey I'm Jyothi Prakash am a Electronics & Communication Engineering Bachelor from Bharath University, 
        Chennai and working as a Python Developer at Intain,Chennai. 
        I have 6 months Experience in Python & Django experience from Intain. 
    </div>
    <div class="knowledgable">
        <p>knowledgable IN</p>
        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>HTML5</li>
            <li>Css3</li>
            <li>JavaScript</li>
            <li>ReactJS</li>
            <li>Git Hub</li>
            <li>Bootstrap</li>
            <li>Sqlite3</li>
        </ul>
    </div>
    <div class="dummy">
        <a href="{% url 'home' %}" class="gohome"><i class="fas fa-long-arrow-alt-left"></i>Go Home</a>
    </div>
    <!-- <div class="gohome">Go Back</div> -->
    {% include 'mainapp/footer-icons.html' %}
    
    
</div>

{% include 'mainapp/footer.html' %}
{% endblock content %}
