
<form method="post">
    {% csrf_token %}
    <div class="email-message">
      <label for="id_subject">Name:</label>
        {{ form.name }}
      <div class="p-element">
        <label for="id_subject">Enter Email:</label>
        {{ form.from_mail }}
        <label for="id_subject">subject:</label>
        {{ form.subject }}
      </div>
      <label for="id_subject">message:</label>
         {{ form.message }}
    </div>
    <div class="form-actions">
      <button type="submit" class="button">Send</button>
    </div>
</form>