<div class="icons">
    <ul class="footer-icons">
        <li><a href="https://github.com/jyothiprakashk" id="profile-link"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.freecodecamp.org/jyothiprakash" alt="freecodecamp"><i class="fab fa-free-code-camp"></i></a></li>
        <li><a href="https://twitter.com/JyothiPrakashR5" alt="Twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/jyothi-prakash-reddy-kamasani-60412a174" alt="send a mail"><i class="fab fa-linkedin-in"></i></i></a></li>
        <!-- <li><a href="#9704703078" alt="call"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li> -->
        
    </ul>
</div>