{% extends "mainapp/index.html" %}

{% block content %}
<div class="container">
    <div>
        <div class="main-head">Jyothi Prakash Kamasani</div>
        <div class="main-head-small">A Python Web-Developer</div>
    </div>
    <div class="container-data">
        Hey I'm self-taught Python Web-Developer.Now I'm working on django backend development.I will be graduating in 
        April-2020.And currently I'm working as Python Developer Intern at <a href="https://www.in-d.ai/" id="logo">Intain Tech</a>
    </div>
    <div class="container-data-1">
        If you want to Known more about me please refer my <a href="https://github.com/jyothiprakashk">Git Hub</a> & If you have any 
        queries feel free to message me on <a href="https://twitter.com/Jyothiprakash97">Twitter</a>
    </div>
    <div class="icons">
        <ul class="footer-icons">
            <li><a href="https://github.com/jyothiprakashk" id="profile-link"><i class="fab fa-github"></i></a></li>
             <li><a href="https://www.freecodecamp.org/jyothiprakash" alt="freecodecamp"><i class="fab fa-free-code-camp"></i></a></li>
            <li><a href="https://twitter.com/JyothiPrakashR5" alt="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/in/jyothi-prakash-reddy-kamasani-60412a174" alt="send a mail"><i class="fab fa-linkedin-in"></i></i></a></li>
            <!-- <li><a href="#9704703078" alt="call"><i class="fa fa-phone-square" aria-hidden="true"></i></a></li> -->
            
        </ul>
    </div>  
</div>
<div class="author">Coded By Jyothi Prakash</div>
<footer class="footer">
    <i class="far fa-copyright"></i>Copyright 2020 Jyothi Prakash. All rights reserved.
</footer>



{% endblock content %}