{% extends "mainapp/index.html" %}

{% block content %}
<div class="container">
    <div>
        <div class="main-head">Jyothi Prakash Kamasani</div>
        <div class="main-head-small">A Python Web-Developer</div>
    </div>
    <div class="container-data">
        Hey I'm self-taught Python Web-Developer.Now I'm working on django backend development.I will be graduating in 
        April-2020.And currently I'm working as Python Developer Intern at <a href="https://www.in-d.ai/" id="logo">Intain Tech</a>
    </div>
    <div class="container-data-1">
        If you want to Known more about me please refer my <a href="https://github.com/jyothiprakashk">Git Hub</a> & If you have any 
        queries feel free to message me on <a href="https://twitter.com/Jyothiprakash97">Twitter</a>
    </div>
    {% include 'mainapp/footer-icons.html' %}
    {% include 'mainapp/footer.html' %}
</div>




{% endblock content %}